/.gradle/
/.settings/
/bin/
/build/
/config/
/crash-reports/
/eclipse/
/gradle/
/logs/
/run/
/mods/
/resourcepacks/
/saves/
build.gradle
gradlew
usernamecache.json
*.bat
*.classpath
*.log
*.project
*.txt
*.launch
*.properties
